<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Program Bindings Libs</key>
	<array>
		<dict>
			<key>LibId</key>
			<string>apple_sdk_iphoneos9.3</string>
			<key>LibName</key>
			<string>iOS</string>
		</dict>
		<dict>
			<key>BindingsLibSourceGroupType</key>
			<string>SelfGeneratedBindingsLib</string>
			<key>CustomBindingsLibBindingsSourcePath</key>
			<string>SceneKitVehicle.xcodeproj</string>
			<key>CustomBindingsLibCompilationOptions</key>
			<array>
				<string>-fembed-bitcode</string>
			</array>
			<key>CustomBindingsLibGenerationOptions</key>
			<dict>
				<key>CIMStoreObjcMethodsInfo</key>
				<true/>
			</dict>
			<key>CustomBindingsLibHeadersParsingOptions</key>
			<array>
				<string>-include</string>
				<string>/Volumes/Brume/Celedev CodeFlow/CodeFlow Sample Applications/SceneKitVehicle/SceneKitVehicle/SceneKitVehicle-Prefix.pch</string>
				<string>-fobjc-arc</string>
			</array>
			<key>CustomBindingsLibHeadersSearchPaths</key>
			<array>
				<string>$(USER_LIBRARY_DIR)/Application\ Support/com.celedev.CodeFlow/headers</string>
			</array>
			<key>CustomBindingsLibLastGenerationDate</key>
			<date>2016-10-10T15:27:25Z</date>
			<key>CustomBindingsLibPlatformSdkName</key>
			<string>iphoneos9.3</string>
			<key>CustomBindingsLibSourceFilesTree</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGrK1YJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoK8QLAcIERIXHB0kKSowMTdERUZHSElK
			S09UWVpeX2tscXJ2d4OEiYqOj5ucn6OoVSRudWxs1AkKCwwNDg8Q
			Vm9iamVjdFRuYW1lWmF0dHJpYnV0ZXNWJGNsYXNzgAOAAoArgCpQ
			0hMMFBZaTlMub2JqZWN0c6EVgASAKNQJCgsMGBkaEIAGgAWAKYAq
			XxAPU2NlbmVLaXRWZWhpY2xl0hMMHhakHyAhIoAHgBaAHIAigCjU
			CQoLDCUmJyiACYAIgAyAFV1BcHBEZWxlZ2F0ZS5o0ysMLC0uL1dO
			Uy5iYXNlW05TLnJlbGF0aXZlgACAC4AKXxB3ZmlsZTovLy9Wb2x1
			bWVzL0JydW1lL0NlbGVkZXYlMjBDb2RlRmxvdy9Db2RlRmxvdyUy
			MFNhbXBsZSUyMEFwcGxpY2F0aW9ucy9TY2VuZUtpdFZlaGljbGUv
			U2NlbmVLaXRWZWhpY2xlL0FwcERlbGVnYXRlLmjSMjM0NVokY2xh
			c3NuYW1lWCRjbGFzc2VzVU5TVVJMojQ2WE5TT2JqZWN00zgTDDk+
			Q1dOUy5rZXlzpDo7PD2ADYAOgA+AEKQ/QEBCgBGAEoASgBOAFF8Q
			EmdlbmVyYXRpb25GaWxlRGF0ZV8QFGdlbmVyYXRpb25EaWRTdWNj
			ZWVkWHNlbGVjdGVkXxAXZ2VuZXJhdGlvbkx1YU1vZHVrZVBhdGgj
			Qb2r6psAAAAJW0FwcERlbGVnYXRl0jIzTE1fEBNOU011dGFibGVE
			aWN0aW9uYXJ5o0xONlxOU0RpY3Rpb25hcnnSMjNQUVxDREZMTmFt
			ZWRVcmyjUlM2XENERkxOYW1lZFVybF1DREZMTmFtZWRJdGVt1AkK
			CwxVVlcogBiAF4AagBVfEBRHYW1lVmlld0NvbnRyb2xsZXIuaNMr
			DCwtLl2AAIALgBlfEH5maWxlOi8vL1ZvbHVtZXMvQnJ1bWUvQ2Vs
			ZWRldiUyMENvZGVGbG93L0NvZGVGbG93JTIwU2FtcGxlJTIwQXBw
			bGljYXRpb25zL1NjZW5lS2l0VmVoaWNsZS9TY2VuZUtpdFZlaGlj
			bGUvR2FtZVZpZXdDb250cm9sbGVyLmjTOBMMYGVDpDo7PD2ADYAO
			gA+AEKQ/QEBpgBGAEoASgBuAFF8QEkdhbWVWaWV3Q29udHJvbGxl
			ctQJCgsMbW5vKIAegB2AIIAVWkdhbWVWaWV3LmjTKwwsLS51gACA
			C4AfXxB0ZmlsZTovLy9Wb2x1bWVzL0JydW1lL0NlbGVkZXYlMjBD
			b2RlRmxvdy9Db2RlRmxvdyUyMFNhbXBsZSUyMEFwcGxpY2F0aW9u
			cy9TY2VuZUtpdFZlaGljbGUvU2NlbmVLaXRWZWhpY2xlL0dhbWVW
			aWV3LmjTOBMMeH1DpDo7PD2ADYAOgA+AEKQ/QECBgBGAEoASgCGA
			FFhHYW1lVmlld9QJCgsMhYaHKIAkgCOAJoAVXk92ZXJsYXlTY2Vu
			ZS5o0ysMLC0ujYAAgAuAJV8QeGZpbGU6Ly8vVm9sdW1lcy9CcnVt
			ZS9DZWxlZGV2JTIwQ29kZUZsb3cvQ29kZUZsb3clMjBTYW1wbGUl
			MjBBcHBsaWNhdGlvbnMvU2NlbmVLaXRWZWhpY2xlL1NjZW5lS2l0
			VmVoaWNsZS9PdmVybGF5U2NlbmUuaNM4EwyQlUOkOjs8PYANgA6A
			D4AQpD9AQJmAEYASgBKAJ4AUXE92ZXJsYXlTY2VuZdIyM52eV05T
			QXJyYXminTbTOBMMoKFDoKCAFNIyM6SlXkNERkxOYW1lZEdyb3Vw
			o6anNl5DREZMTmFtZWRHcm91cF1DREZMTmFtZWRJdGVt0zgTDKmq
			Q6CggBRfEA9OU0tleWVkQXJjaGl2ZXLRrq9Ucm9vdIABAAgAEQAa
			ACMALQAyADcAZgBsAHUAfACBAIwAkwCVAJcAmQCbAJwAoQCsAK4A
			sACyALsAvQC/AMEAwwDVANoA3wDhAOMA5QDnAOkA8gD0APYA+AD6
			AQgBDwEXASMBJQEnASkBowGoAbMBvAHCAcUBzgHVAd0B4gHkAeYB
			6AHqAe8B8QHzAfUB9wH5Ag4CJQIuAkgCUQJSAl4CYwJ5An0CigKP
			ApwCoAKtArsCxALGAsgCygLMAuMC6gLsAu4C8ANxA3gDfQN/A4ED
			gwOFA4oDjAOOA5ADkgOUA6kDsgO0A7YDuAO6A8UDzAPOA9AD0gRJ
			BFAEVQRXBFkEWwRdBGIEZARmBGgEagRsBHUEfgSABIIEhASGBJUE
			nASeBKAEogUdBSQFKQUrBS0FLwUxBTYFOAU6BTwFPgVABU0FUgVa
			BV0FZAVlBWYFaAVtBXwFgAWPBZ0FpAWlBaYFqAW6Bb0FwgAAAAAA
			AAIBAAAAAAAAALAAAAAAAAAAAAAAAAAAAAXE
			</data>
			<key>CustomBindingsLibTargetOSVersion</key>
			<string>8.3</string>
			<key>CustomBindingsLibXcodeTargetInfo</key>
			<dict>
				<key>target</key>
				<string>SceneKitVehicle</string>
				<key>targetSdk</key>
				<string>iphoneos</string>
				<key>targetType</key>
				<string>com.apple.product-type.application</string>
			</dict>
		</dict>
	</array>
	<key>Program Display Info</key>
	<dict>
		<key>LuaAppDocument-associatedXodeProject</key>
		<dict>
			<key>project</key>
			<string>SceneKitVehicle.xcodeproj</string>
			<key>target</key>
			<string>SceneKitVehicle</string>
			<key>targetSdk</key>
			<string>iphoneos</string>
			<key>targetType</key>
			<string>com.apple.product-type.application</string>
		</dict>
		<key>LuaAppDocument-luapkgExportVersion</key>
		<integer>0</integer>
		<key>LuaAppDocument-remote service pattern</key>
		<string>starts:SceneKitVehicle - SceneKitLuaContext</string>
		<key>LuaAppWindow edited source path</key>
		<string>GameViewController</string>
		<key>LuaAppWindow frame</key>
		<string>1147 533 1140 696 0 0 2560 1417 </string>
	</dict>
	<key>Program Format Version</key>
	<string>0.92</string>
	<key>Program Groups Order</key>
	<dict>
		<key></key>
		<array>
			<string>GameViewController</string>
			<string>GameViewController-Setup</string>
			<string>floor</string>
			<string>wall</string>
			<string>WoodCubeA</string>
			<string>WoodCubeB</string>
			<string>WoodCubeC</string>
			<string>carpet</string>
		</array>
	</dict>
	<key>Program Platform Sdk Name</key>
	<string>iphoneos</string>
	<key>Program Source Files Info</key>
	<dict>
		<key></key>
		<dict>
			<key>RootGroupId</key>
			<string>SceneKitLuaContext</string>
			<key>SourceGroupChildItemsOrder</key>
			<array>
				<string>GameViewController.lua</string>
				<string>GameViewController-Setup.lua</string>
				<string>floor.png</string>
				<string>wall.jpeg</string>
				<string>WoodCubeA.jpeg</string>
				<string>WoodCubeB.jpeg</string>
				<string>WoodCubeC.jpeg</string>
				<string>carpet.jpeg</string>
			</array>
			<key>SourceItemChangeTime</key>
			<real>486829647.717161</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ListController Group IsExpanded</key>
				<true/>
			</dict>
			<key>SourceItemName</key>
			<string></string>
		</dict>
		<key>::GameViewController-Setup.lua</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>486830532.79265499</real>
		</dict>
		<key>::GameViewController.lua</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>486831453.79238701</real>
		</dict>
		<key>::WoodCubeA.jpeg</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>475950381.08340698</real>
		</dict>
		<key>::WoodCubeB.jpeg</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>475950381.08417398</real>
		</dict>
		<key>::WoodCubeC.jpeg</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>475950381.08376098</real>
		</dict>
		<key>::carpet.jpeg</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>475950381.08595198</real>
		</dict>
		<key>::floor.png</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>475950381.08573902</real>
		</dict>
		<key>::wall.jpeg</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>475950381.083956</real>
		</dict>
	</dict>
</dict>
</plist>
