<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Program Bindings Libs</key>
	<array>
		<dict>
			<key>LibId</key>
			<string>apple_sdk_iphoneos9.0</string>
			<key>LibName</key>
			<string>iOS</string>
		</dict>
		<dict>
			<key>BindingsLibSourceGroupType</key>
			<string>SelfGeneratedBindingsLib</string>
			<key>CustomBindingsLibBindingsSourcePath</key>
			<string>SceneKitVehicle.xcodeproj</string>
			<key>CustomBindingsLibCompilationOptions</key>
			<array>
				<string>-fembed-bitcode</string>
			</array>
			<key>CustomBindingsLibHeadersParsingOptions</key>
			<array>
				<string>-include</string>
				<string>/Volumes/Brume/Celedev CodeFlow/CodeFlow Sample Applications/SceneKitVehicle/SceneKitVehicle/SceneKitVehicle-Prefix.pch</string>
				<string>-fobjc-arc</string>
			</array>
			<key>CustomBindingsLibHeadersSearchPaths</key>
			<array>
				<string>$(USER_LIBRARY_DIR)/Application\ Support/com.celedev.CodeFlow/iphoneos/include</string>
				<string>$(USER_LIBRARY_DIR)/Application\ Support/com.celedev.CodeFlow/headers</string>
			</array>
			<key>CustomBindingsLibLastGenerationDate</key>
			<date>2015-09-16T10:12:24Z</date>
			<key>CustomBindingsLibPlatformSdkName</key>
			<string>iphoneos9.0</string>
			<key>CustomBindingsLibSourceFilesTree</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGqKlYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoK8QLgcIERIXHB0kKSowMTc+P0BESU5P
			U1RgYWJjZGVma2xwcX1+f4SFiYqWl5ibn6RVJG51bGzUCQoLDA0O
			DxBWb2JqZWN0VG5hbWVaYXR0cmlidXRlc1YkY2xhc3OAA4ACgC2A
			LFDSEwwUFlpOUy5vYmplY3RzoRWABIAq1AkKCwwYGRoQgAaABYAr
			gCxfEA9TY2VuZUtpdFZlaGljbGXSEwweFqQfICEigAeAEYAcgCOA
			KtQJCgsMJSYnKIAJgAiADIAQXxARQUFQTEFwcERlbGVnYXRlLmjT
			KwwsLS4vV05TLmJhc2VbTlMucmVsYXRpdmWAAIALgApfEHtmaWxl
			Oi8vL1ZvbHVtZXMvQnJ1bWUvQ2VsZWRldiUyMENvZGVGbG93L0Nv
			ZGVGbG93JTIwU2FtcGxlJTIwQXBwbGljYXRpb25zL1NjZW5lS2l0
			VmVoaWNsZS9TY2VuZUtpdFZlaGljbGUvQUFQTEFwcERlbGVnYXRl
			LmjSMjM0NVokY2xhc3NuYW1lWCRjbGFzc2VzVU5TVVJMojQ2WE5T
			T2JqZWN00zgTDDk7PVdOUy5rZXlzoTqADaE8gA6AD1hzZWxlY3Rl
			ZAjSMjNBQl8QE05TTXV0YWJsZURpY3Rpb25hcnmjQUM2XE5TRGlj
			dGlvbmFyedIyM0VGXENERkxOYW1lZFVybKNHSDZcQ0RGTE5hbWVk
			VXJsXUNERkxOYW1lZEl0ZW3UCQoLDEpLTCiAE4ASgBWAEF8QGEFB
			UExHYW1lVmlld0NvbnRyb2xsZXIuaNMrDCwtLlKAAIALgBRfEIJm
			aWxlOi8vL1ZvbHVtZXMvQnJ1bWUvQ2VsZWRldiUyMENvZGVGbG93
			L0NvZGVGbG93JTIwU2FtcGxlJTIwQXBwbGljYXRpb25zL1NjZW5l
			S2l0VmVoaWNsZS9TY2VuZUtpdFZlaGljbGUvQUFQTEdhbWVWaWV3
			Q29udHJvbGxlci5o0zgTDFVaPaRWVzpZgBaAF4ANgBikW1xcXoAZ
			gBqAGoAbgA9fEBJnZW5lcmF0aW9uRmlsZURhdGVfEBRnZW5lcmF0
			aW9uRGlkU3VjY2VlZF8QF2dlbmVyYXRpb25MdWFNb2R1a2VQYXRo
			I0G7DOnaAAAACV8QFkFBUExHYW1lVmlld0NvbnRyb2xsZXLUCQoL
			DGdoaSiAHoAdgCCAEF5BQVBMR2FtZVZpZXcuaNMrDCwtLm+AAIAL
			gB9fEHhmaWxlOi8vL1ZvbHVtZXMvQnJ1bWUvQ2VsZWRldiUyMENv
			ZGVGbG93L0NvZGVGbG93JTIwU2FtcGxlJTIwQXBwbGljYXRpb25z
			L1NjZW5lS2l0VmVoaWNsZS9TY2VuZUtpdFZlaGljbGUvQUFQTEdh
			bWVWaWV3LmjTOBMMcnc9pFZXOlmAFoAXgA2AGKR4XFx7gCGAGoAa
			gCKADyNBuXbFggAAAFxBQVBMR2FtZVZpZXfUCQoLDICBgiiAJYAk
			gCeAEF8QEkFBUExPdmVybGF5U2NlbmUuaNMrDCwtLoiAAIALgCZf
			EHxmaWxlOi8vL1ZvbHVtZXMvQnJ1bWUvQ2VsZWRldiUyMENvZGVG
			bG93L0NvZGVGbG93JTIwU2FtcGxlJTIwQXBwbGljYXRpb25zL1Nj
			ZW5lS2l0VmVoaWNsZS9TY2VuZUtpdFZlaGljbGUvQUFQTE92ZXJs
			YXlTY2VuZS5o0zgTDIuQPaRWVzpZgBaAF4ANgBikkVxclIAogBqA
			GoApgA8jQbl2xYIAAABfEBBBQVBMT3ZlcmxheVNjZW5l0jIzmZpX
			TlNBcnJheaKZNtM4EwycnT2goIAP0jIzoKFeQ0RGTE5hbWVkR3Jv
			dXCjoqM2XkNERkxOYW1lZEdyb3VwXUNERkxOYW1lZEl0ZW3TOBMM
			paY9oKCAD18QD05TS2V5ZWRBcmNoaXZlctGqq1Ryb290gAEACAAR
			ABoAIwAtADIANwBoAG4AdwB+AIMAjgCVAJcAmQCbAJ0AngCjAK4A
			sACyALQAvQC/AMEAwwDFANcA3ADhAOMA5QDnAOkA6wD0APYA+AD6
			APwBEAEXAR8BKwEtAS8BMQGvAbQBvwHIAc4B0QHaAeEB6QHrAe0B
			7wHxAfMB/AH9AgICGAIcAikCLgI7Aj8CTAJaAmMCZQJnAmkCawKG
			Ao0CjwKRApMDGAMfAyQDJgMoAyoDLAMxAzMDNQM3AzkDOwNQA2cD
			gQOKA4sDpAOtA68DsQOzA7UDxAPLA80DzwPRBEwEUwRYBFoEXARe
			BGAEZQRnBGkEawRtBG8EeASFBI4EkASSBJQElgSrBLIEtAS2BLgF
			NwU+BUMFRQVHBUkFSwVQBVIFVAVWBVgFWgVjBXYFewWDBYYFjQWO
			BY8FkQWWBaUFqQW4BcYFzQXOBc8F0QXjBeYF6wAAAAAAAAIBAAAA
			AAAAAKwAAAAAAAAAAAAAAAAAAAXt
			</data>
			<key>CustomBindingsLibTargetOSVersion</key>
			<string>8.0</string>
			<key>CustomBindingsLibXcodeTargetInfo</key>
			<dict>
				<key>target</key>
				<string>SceneKitVehicle</string>
				<key>targetSdk</key>
				<string>iphoneos</string>
				<key>targetType</key>
				<string>com.apple.product-type.application</string>
			</dict>
		</dict>
	</array>
	<key>Program Display Info</key>
	<dict>
		<key>LuaAppDocument-associatedXodeProject</key>
		<dict>
			<key>project</key>
			<string>SceneKitVehicle.xcodeproj</string>
			<key>target</key>
			<string>SceneKitVehicle</string>
			<key>targetSdk</key>
			<string>iphoneos</string>
			<key>targetType</key>
			<string>com.apple.product-type.application</string>
		</dict>
		<key>LuaAppWindow edited source path</key>
		<string>GameViewController</string>
		<key>LuaAppWindow frame</key>
		<string>1098 653 1212 640 0 0 2560 1417 </string>
	</dict>
	<key>Program Format Version</key>
	<string>0.9</string>
	<key>Program Groups Order</key>
	<dict>
		<key></key>
		<array>
			<string>GameViewController</string>
			<string>floor</string>
			<string>wall</string>
			<string>WoodCubeA</string>
			<string>WoodCubeB</string>
			<string>WoodCubeC</string>
			<string>carpet</string>
		</array>
	</dict>
	<key>Program Platform Sdk Name</key>
	<string>iphoneos</string>
	<key>Program Source Files Info</key>
	<dict>
		<key></key>
		<dict>
			<key>RootGroupId</key>
			<string>SceneHandler</string>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ListController Group IsExpanded</key>
				<true/>
			</dict>
		</dict>
		<key>GameViewController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>453831150.04250902</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>293</integer>
				<key>SrcEditor Visible Length</key>
				<integer>944</integer>
				<key>SrcEditor Visible Location</key>
				<integer>12323</integer>
			</dict>
		</dict>
		<key>WoodCubeA</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>435791328.92438799</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleHeight</key>
				<real>256</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>256</real>
			</dict>
		</dict>
		<key>WoodCubeB</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>435674921.12128001</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleHeight</key>
				<real>256</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>256</real>
			</dict>
		</dict>
		<key>WoodCubeC</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>434626815.44217199</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleHeight</key>
				<real>256</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>256</real>
			</dict>
		</dict>
		<key>carpet</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>435674826.71158099</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleHeight</key>
				<real>256</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>512</real>
			</dict>
		</dict>
		<key>floor</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>435842913.49389303</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleHeight</key>
				<real>500</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>500</real>
			</dict>
		</dict>
		<key>wall</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>435842873.53099102</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleHeight</key>
				<real>559</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>171</real>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
